@font-face {
  font-family: "Ownglyph_corncorn-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 20px;
  font-family: "Ownglyph_corncorn-Rg";
}
body {
  margin: 0;
}

/* main */
main {
  padding: 0 8px;
}

main h1 {
  text-align: center;
}

main h1 span:nth-child(1) {
  color: #845ec2;
}

main h1 span:nth-child(2) {
  color: #d65db1;
}

main h1 span:nth-child(3) {
  color: #ff6f91;
}
main h1 span:nth-child(4) {
  color: #ff9671;
}
main h1 span:nth-child(5) {
  color: #ffc75f;
}
main h1 span:nth-child(6) {
  color: #008f7a;
}
main h1 span:nth-child(7) {
  color: #0081cf;
}

main h3 {
  text-align: right;
}

main .comment {
  width: fit-content;
  background-color: #ffff48;
  padding: 2px 4px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(255, 220, 62, 0.612);
}

ol {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  border: 1px solid blue;
}
ol > li {
  font-weight: 700;
  margin-top: 10px;
}

ul > li {
  font-weight: 400;
}
span.spotlight {
  color: salmon;
}
p.comment {
  color: #999;
  font-size: 0.8rem;
}

footer {
  background-color: #b8b8bc;
  height: 100px;
}
