@import url("./root.css");
@font-face {
  font-family: "Ownglyph_corncorn-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SangSangShinb7";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* common */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
  font-family: "Ownglyph_corncorn-Rg";
}

ul,
ol {
  list-style: none;
}

.fa-blog {
  color: #00d564;
}

.fa-instagram {
  color: #dd2a78;
}
.make-person {
  font-family: "SangSangShinb7";
}
.date {
  background-color: #ccc9c9;
  font-size: 0.85rem;
  padding: 0 6px;
  border-radius: 3px;
  color: rgb(213, 85, 70);
}
/* main */
main {
  padding: 16px 8px 0;
  min-height: calc(100vh - var(--footer-height));
}

main > div {
  display: flex;
  justify-content: center;
}

main h1 {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  margin: 0;
  margin: 16px 0 24px;
  width: fit-content;
  background-color: rgb(233, 249, 255);
  border-radius: 15px;
  border: 3px dashed #0081cf;
}

main h1 span {
  margin: 0 3px;
}

main h1 span:nth-child(1) {
  color: #845ec2;
}

main h1 span:nth-child(2) {
  color: #d65db1;
}

main h1 span:nth-child(3) {
  color: #ff6f91;
}

main h1 span:nth-child(4) {
  color: #ff9671;
}

main h1 span:nth-child(5) {
  color: #ffc75f;
}

main h1 span:nth-child(6) {
  color: #008f7a;
}

main h1 span:nth-child(7) {
  color: #0081cf;
}

main h3 {
  text-align: right;
  margin-bottom: 16px;
}

main .comment {
  width: fit-content;
  background-color: #ffff48;
  padding: 2px 4px;
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 0px 0px 8px rgba(255, 220, 62, 0.612);
}

ol {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* border: 1px solid blue; */
}

ol > li {
  font-weight: 700;
  margin-top: 10px;
}

ul > li {
  line-height: 1.6;
  font-weight: 400;
  padding-left: 1.5rem;
}
ul > li::before {
  content: "✔️  ";
}
span.spotlight {
  color: salmon;
}
p.comment {
  color: #999;
  font-size: 0.8rem;
}
.gap-height {
  height: 110px;
}
/* footer */
footer {
  text-align: center;
  padding: 16px 8px 0;
  background-color: #e4e4e4;
  height: var(--footer-height);
  box-shadow: 10px 0px 8px #cececedc;
}

footer .member-container {
}

footer .footer-tit {
  /* margin-bottom: 16px; */
  /* border: 1px solid black; */
}
footer .member-container div {
  display: flex;
  justify-content: space-evenly;
}

footer .member-container p {
  font-size: 0.8rem;
  color: #313131;
}
footer .member-container p::before {
  content: "♥️";
}
footer .member-container p a {
  margin-right: 10px;
}
footer .member-container p a i {
}
@media screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
  main {
    min-height: calc(100vh - var(--footer-mobile-height));
  }

  footer {
    height: var(--footer-mobile-height);
  }
}
